.App {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}

.card {
  display: block;
  width: 375px;
  height: 540px;
  background-color: #fff;
  margin: 30px;
  float: right;
  position: relative;
  border-radius: 24px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5);
}

.instructions-wrapper {
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  height: 80%;
}

.instructions-wrapper:after {
  content: '';
  pointer-events: none;
  position: absolute;
  height: 80%;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: inset 0 -64px 32px -24px #fff;
  z-index: 1;
}

.instructions {
  display: block;
  margin: 10px 30px;
  transition: opacity .5s, margin .5s;
  overflow-y: auto;
  height: 100%;
}

.instructions-text {
  line-height: 24px;
}

.instructions.flip {
  margin-left: 20px;
  transition: opacity .5s, margin .5s
}

.step-counter {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #f6f6f6;
  text-align: center;
  line-height: 28px;
  margin-right: 4px;
}

.nav {
  margin: 30px;
  width: 100%;
  border-right: 0px solid #ccc;
  position: absolute;
  bottom: 0;
}

.btn {
  height: 48px;
  min-width: 48px;
  display: inline-block;
  color: #9b9b9b;
  background-color: #EFEFEF;
  border-radius: 15px;
  border: 0;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.btn.next {
  background-color: #FFB70F;
  width: 210px;
  margin: 0 4px;
  color: #fff;
}

.multi-selector {
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
  font-size: 12px;
  width: 100%;
}

.multi-selector-group {
  display: table;
}

.multi-selector-wrapper {
  display: table-cell;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.multi-selector-header {
  margin-bottom: 8px;
  margin-top: 24px;
}

.multi-selector input[type='radio'] {
  width: 0;
  opacity: 0;
  padding: 0;
  margin: 0;
}

.multi-selector label {
  display: inline-block;
  background: #efefef;
  padding: 12px 4px;
  margin-right: 2px;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  height: 50px;
  width: 53px;
  position: relative;
}

.multi-selector-value {
  position: absolute;
  bottom: 12px;
  left: 0px;
  text-align: center;
  width: 100%;
}

.multi-selector input[type='radio']:checked + label {
  font-weight: bold;
  background:#ffb70f;
}

html, body, #root, .App {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}